|<!--
|              -. .                                        
|        _____   ',' ,                                    
|      ,'     ,'   ', ',                                  
|    ,'     ,'      |  |                                  
|    \       \       |  |                                  
|      \ /^\   \    ,' ,'                                  
|            \   \ ,' ,'      L'Internationale,            
|      / ~-.___\.-'  ,'            Sera le genre humain.   
|    /   .______.- ~ \                                     
|  /   /'          \   \                                   
|  \./               \/'                                   
|                                                          
|-->